/*@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
}*/

body {
    font: verdana, sans-serif;
    width:960px;
    padding: 0;
    border: 0;
    margin: auto;
    line-height:1.3em;
    font: 15px;
}
h3, h4 {
    font-weight: normal;
}
div.outline-2 {
    margin-left: 0em;
}
div.outline-3, div.outline-4 {
    margin-left: 1em;
}
div.outline-text-2, div.outline-text-3 {
    margin-left: 1em;
}

